#mainContent {
    margin: 14px;
}

#appContent {
    display: none;
}

#appTable {
    width: 100%;
    margin-bottom: 8px;
}

#datastoreTable {
    width: 100%;
    margin-bottom: 8px;
}

#noAttachedApps{
    color: rgb(71, 71, 71)
}