#loginForm {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#loginButton {
    margin-top: 5px;
}

#loginForm input {
    margin-top: 2px;
}